/* main.jsp */
#helpMain-section {
	max-width: 960px; margin: 0 auto;
	color: #5D5D5D;
}

#helpMain-section table {
    width: 750px;
    margin: 0 auto;
    margin-left: 20%;
    margin-top: 20px;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#helpMain-section th {
    border: 1px solid #FCFCFC;
    padding: 10px;
    text-align: center;
    background-color: #EAEAEA;
}

#helpMain-section table td {
    padding: 10px;
    border: 1px solid #EAEAEA;
    text-align: center;
}

#helpMain-section table td:first-child, th:first-of-type { width: 35px; border-left: none; }
#helpMain-section table td:nth-of-type(2) { width: 80px; }
#helpMain-section table td:nth-of-type(4) { width: 70px; }
#helpMain-section table td:nth-of-type(5) { width: 80px; }
#helpMain-section table td:nth-of-type(6) { width: 70px; }
#helpMain-section table td:last-child { border-right: none; }

#helpMain-section div.search select { width: 90px; }

#state_search {
	float: left;
    margin-left: 20%;
}


/* read.jsp */
#read-section {
    max-width: 960px; margin: 0 auto;
	color: #5D5D5D;
}

#read-section table, #write-section table {
    width: 660px;
    margin: 0 auto;
    margin-left: 25%;
    margin-top: 20px;
    padding: 1px 16px;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#read-section td, #write-section td {
    padding: 10px;
}

#read-section textarea, #write-section textarea {
    border: none;
    font-family: 'Nanum Gothic', sans-serif;
    color: #5D5D5D;
    font-size: 16px;
    resize: none;
    height: 100px;
    width: 500px;
    background-color: white;
}

#read-section textarea:focus {
    outline: none;
}

#read-section form div:last-of-type { text-align: center; margin: 30px 0; }

/* write.jsp */
#write-section {
	max-width: 960px; margin: 0 auto;
	color: #5D5D5D;
}

#write-section textarea { height: 200px; padding: 10px; }
#write-section input[type=text], #write-section select { padding: 3px; }
#write-section form div:last-of-type { text-align: center; margin-bottom: 30px; }
