/* best.jsp */
#best-section > section:last-child { border: none; }
#new-section > section:last-child { border: none; }

#best-section {
    width: 960px; margin: 0 auto;
}
#best-section .book-content {
	margin-bottom: 80px;
}

section.bt { overflow: hidden; margin-left: 730px; }

section.bt > label {
    display: block; float: left;
    text-align: center;
    
    width:100px;
    background-color: #EAEAEA;
    border: 1px solid gray;
    box-sizing: border-box;
    
    font-weight: bold;
    padding: 5px 0px;
}

.best-select > input { display: none; }
.best-select > #fic:checked ~ #best-eco { display: none; }
.best-select > #eco:checked ~ #best-fic { display: none; }

input:nth-of-type(1):checked ~ section.bt >  label:nth-of-type(1),
input:nth-of-type(2):checked ~ section.bt >  label:nth-of-type(2) {
    background-color: gray;
    color: white;
}


/* new.jsp */
#new-section {
    position: relative;
    width: 960px; margin: 0 auto;
    height: 700px;
}

.arrow-bt img {
    position: absolute;
    width: 30px; 
    opacity: 0.5;
}

#new-section > input { display: none;}
#new-section .book-content ul { margin-bottom: 30px;}

.arrow-bt label:nth-child(1) img { top:330px; z-index: 30; cursor: pointer;}
.arrow-bt label:nth-child(2) img { top:330px; right: 0; cursor: pointer; }

#new-section > input:nth-child(1):checked ~ section .book-content:nth-child(3) { display: none;}
#new-section > input:nth-child(2):checked ~ section .book-content:nth-child(2) { display: none;}

.book-content {
    max-width: 960px; margin: 0 auto;
    height: 280px;
    margin: 40px 0;
}

/* float 속성 중앙 정렬 */
.book-content > ul { 
    position: relative; 
    float: right;
    left: -50%; 
    margin-bottom: 20px;
}

.book-content > ul > li {
    float: left;
    position: relative;
    margin-right:15px;
    left: 50%;
    text-align: center;
}

.section-title {
    text-align: right;
    margin-right: 80px;
    margin-top: 20px;
}

.book_thumbnail {
    width: 300px; height: 219px;
    position: relative;
    text-align: center;
}

.book_thumbnail > img {
    width: 150px; height: 219px;
}

.book_title p:nth-of-type(1) { 
	padding-top: 5px; 
	width: 300px;
	height: 21px; 
	overflow: hidden;
	white-space: nowrap; 
	text-overflow: ellipsis ; 
}
.book_title p:nth-of-type(2) { 
	font-size: 12px; 
	padding-top: 2px; 
	padding-bottom: 5px; 
	width: 300px; 
	height: 21px; 
	overflow: hidden;
	white-space: nowrap; 
	text-overflow: ellipsis ; 
}

#new-section .book_title p:nth-of-type(3) { padding-bottom: 20px; }

/* search.jsp */
#search-section {
	width: 960px; margin: 0 auto;
}

#search-section div.book-content {
	margin: 50px 0;
}


/* recommand.jsp */
#recommand-section {
    position: relative;
    width: 960px; margin: 0 auto;
    height: 700px;
}

#recommand-section > input { display: none;}
#recommand-section .book-content ul { margin-bottom: 30px;}

#recommand-section > input:nth-child(1):checked ~ section .book-content:nth-child(3) { display: none;}
#recommand-section > input:nth-child(2):checked ~ section .book-content:nth-child(2) { display: none;}

#recommand-section .book_title p:nth-of-type(3) { padding-bottom: 20px; }


/* detail.jsp */
#detail-section {
    width: 960px; margin: 0 auto;
}

#detail-main {
    width: 800px; margin: 0 auto;
    height: 350px;
    margin: 50px 100px;
    position: relative;
}

#detail-img { float: left; width: 270px; height: 350px;}
#detail-img img { height: 350px; }
#detail-info h4, #detail-info h4 { padding: 10px;}
#detail-info { width: 800px; margin-bottom: 20px;}

#detail_contents {
    width: 800px; margin: 0 auto;
    margin: 50px 100px;
}

#detail_contents { line-height: 1.7em; }
#detail_contents h3#contents_title { margin-bottom: 10px; }

.star_rank { width: 20px; margin: -4px -3px;}
#stars + em {
    margin-right: 1px;
    height: 20px;
    line-height: 20px;
    font-size: 17px;
    font-style: normal;
}

#price-info {
    width: 800px; margin: 0 auto;
}

#price-info em {
    font-size: 24px;
    vertical-align: -4px;
    font-style: normal;
}
#sale-price { color: #ff6666; }
#price-info th { padding: 10px; text-align: left; }

#order-btn {
    width: 520px; margin: 0 auto;
    margin-top: 20px;
    position: absolute;
    bottom: 0; left: 280px;
}

#order-btn form { display: inline-block; }

div.list-bt { text-align: center; margin-bottom: 20px; }

.order-btn {
    width: 60px;
    height: 28px;
    display: inline-block;
    line-height: 15px;
    padding: 15px 25px 4px;
    background-color: #aaa !important;
    border: 1px solid #5d5d5d;
    color: #fff;
    box-shadow: none;
    text-decoration: none;
    background-color: #fff;
    text-align: center;
    transition: all .2s;
}